<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="5ham5h0d">
    <meta name="author" content="Shamshod">
    <title>shamshod.com</title>
    <!-- font icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//code.tidio.co/lnxlknkwecsdl6h2mw6a7bcvctvaxm7g.js" async></script>
    <link rel="icon" type="image/x-icon" href="static/assets/imgs/favicon.png">
    <link rel="stylesheet" href="static/assets/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + main styles -->
    <link rel="stylesheet" href="static/assets/css/shamshod.css">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- Page Navbar -->
    <nav class="custom-navbar" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="logo" href="#">5ham5h0d</a>
            <ul class="nav">
                <li class="item">
                    <a class="link" href="{{url_for('home')}}">Home</a>
                </li>

                <li class="item">
                    <a class="link" href="{{url_for('portfolio')}}">Portfolio</a>
                </li>
                <li class="item">
                    <a class="link" href="{{url_for('blog')}}">Blog</a>
                </li>

            </ul>
            <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </a>
        </div>
    </nav><!-- End of Page Navbar -->