{% include "header.html" %}
    <!-- page header -->
    <header id="home" class="header">
        <div class="overlay"></div>
        <div class="header-content container">
            <h1 class="header-title">
                <span class="up">Hi!</span>
                <span class="down">I am  Shamshod</span>

            </h1>
            <br>
            <p class="header-subtitle">Full stack python and web developer</p>
        </div>
    </header><!-- end of page header -->

    <!-- about section -->
    <section class="section pt-0" id="about">
        <!-- container -->
        <div class="container text-center">
            <!-- about wrapper -->
            <div class="about">
                <div class="about-img-holder">
                    <img src="static/assets/imgs/man.png" class="about-img"
                        alt="">
                </div>
                <div class="about-caption">

                    <h2 class="section-title mb-3">About Me</h2>

                    <p>
                        My name is Shamshod, and I'm a full-stack Python developer with experience in web development since 2022.
                        I'm passionate about new technologies and learning how they can be used to make the world a better place.
                        <br>I use:<br> Pycharm for coding in Python, Flask for creating web apps with Python,
                        Bootstrap for making websites look good, bs4 for parsing
                        HTML/XML/JSON, selenium for automating tests in browsers and requests to make HTTP requests.
                        <br>
                        I also have experience with pandas, which is an open source library for data analysis in Python.

                        My favorite tool is Bootstrap; it makes it easy to build modern-looking websites without
                        having to worry about cross-browser compatibility issue <br>
                        I'm currently looking for freelance opportunities where I can put my skills to work!
                        If you're looking for someone who can work quickly, has excellent communication skills,
                        and loves solving problems, then you should definitely reach out!
                    </p>

                </div>
            </div><!-- end of about wrapper -->
        </div><!-- end of container -->
    </section> <!-- end of about section -->

    <!-- service section -->
    <section class="section" id="service">
        <div class="container text-center">
            <h6 class="section-title mb-6">My services</h6>
            <!-- row -->
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="static/assets/imgs/download.png"
                                alt=""
                                class="icon">
                            <h6 class="title">Python developing</h6>
                            <p class="subtitle">
                                Proficiency in writing efficient, reusable, and scalable code using Python and
                                ability to debug, test, and optimize codes
                                </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="static/assets/imgs/web-dev.png"
                                alt=""
                                class="icon">
                            <h6 class="title">Web developing </h6>
                            <p class="subtitle"> Expertise in web development frameworks like Flask and
                                Django for building web applications.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="static/assets/imgs/web-scr.png"
                                alt=""
                                class="icon">
                            <h6 class="title">Web scraping</h6>
                            <p class="subtitle">Understanding HTML, CSS, and JavaScript and the ethical and
                                legal implications of web scraping</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="static/assets/imgs/analytics.svg"
                                alt=""
                                class="icon">
                            <h6 class="title">Data analysting </h6>
                            <p class="subtitle">Understanding of programming languages like Python,
                                statistical analysis and mathematical concepts, SQL Server, MySQL,
                                </p>
                        </div>
                    </div>
                </div>
            </div><!-- end of row -->
        </div>
    </section><!-- end of service section -->



{% include "footer.html" %}
